.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px var(--bg);
  border: 3px solid var(--highlight);
}

.profile-desc {
  color: var(--text);
  text-align: center;
  max-width: 500px;
  margin: 1rem 0rem;
}