.project-card {
  background: var(--bg-light);
  border: 2px solid var(--border);
  border-bottom: 3px solid var(--highlight);
  border-radius: 1.2rem;
  box-shadow: 0 -2px 8px 0 var(--bg-dark);
  padding: 2rem 2.5rem;
  max-width: 700px;
  width: 100%;
  margin: 0 auto 1.2rem auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: box-shadow 0.2s, border 0.2s;
}

.project-card:hover {
  background: var(--gradient-highlight);
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 0;
  width: 100%;
}

.project-header h2 {
  font-size: 2.2rem;
  margin: 1rem 0;

  .project-dates-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .project-dates {
    font-size: 1.3rem;
    color: var(--text-muted);
    font-weight: 500;
  }
}

.project-dates {
  color: var(--text-muted);
  font-size: 1.5rem;
}

.project-skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
}

.project-skill-item {
  background: var(--bg);
  border: var(--border) 1px solid;
  border-radius: 1rem;
  border-bottom-color: var(--highlight);
  padding: 0.2rem 1rem;
  color: var(--text-muted);
  text-align: center;
  font-size: 1.3rem;
}

.project-skill-item:hover {
  background: var(--gradient-highlight);
  color: var(--text);
}

.project-description {
  font-size: 1.6rem;
  color: var(--text);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: .5rem 0;
  transition: max-height 0.4s cubic-bezier(.4, 0, .2, 1), opacity 0.3s cubic-bezier(.4, 0, .2, 1);
}

@media (prefers-reduced-motion: reduce) {
  .project-description {
    transition: none;
  }
}

.project-description.open {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.4s cubic-bezier(.4, 0, .2, 1), opacity 0.3s cubic-bezier(.4, 0, .2, 1);
}

.project-links {
  display: flex;
  gap: 1.5rem;
}

.project-links a {
  color: var(--primary);
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.4rem;
}