/* Playfair Display SC for headings */
/* Lato font for body text */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  --font-body: 'Lato', sans-serif;
  --font-heading: 'Playfair Display SC', serif;
}

body {
  margin: 0;
  margin-top: 9rem;
  font-family: var(--font-body);
  font-size: 2rem;
  background-color: var(--bg-dark);
  color: var(--text);
  line-height: 1.4;
}

h1 {
  font-family: var(--font-heading);
  font-size: 5rem;
  font-weight: 500;
  color: var(--text-heading);
}

h2 {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-heading);
}

h3 {
  margin: 0;
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-heading);
}